@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

/* 中文CV链接的自定义样式 */
.cv-link-chinese {
    color: red; /* 将文本和图标颜色设置为红色 */
  }
  
  /* 可选: 如果你希望链接被访问后仍然保持红色 */
  .cv-link-chinese:visited {
    color: red;
  }
  
  /* 可选: 如果你想控制鼠标悬停时的颜色 (例如，保持红色或变为深红色) */
  /* 如果你希望有不同的悬停效果，可以修改或移除这部分 */
  .cv-link-chinese:hover {
     color: darkred; /* 示例: 鼠标悬停时变为深红色 */
     /* 或者 color: red; 来保持红色 */
  }